body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Azul claro como el cielo */
    margin-bottom: 50px;
}

header {
    background-color: #4682b4; /* Azul claro */
    padding: 10px;
    text-align: center;
    position: relative;
}

.mobile-toggle-container {
    position: fixed;
    top: 15px; /* Ajusta la posición desde la parte superior según sea necesario */
    left: 15px; /* Ajusta la posición desde la izquierda según sea necesario */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
    display: none;
}

.mobile-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 17px; /* Ajusta la posición desde la parte superior según sea necesario */
    left: 17px; /* Ajusta la posición desde la izquierda según sea necesario */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
}

.mobile-toggle span {
    background-color: #87ceeb;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    display: block;
}

.mobile-toggle-circle {
    width: 45px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 45px; /* Ajusta el tamaño del círculo según sea necesario */
    background-color: hsl(0, 0%, 0%); /* Color de fondo del círculo */
    border-radius: 60%; /* Hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px; /* Ajusta la posición desde la parte superior según sea necesario */
    left: 8px; /* Ajusta la posición desde la izquierda según sea necesario */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
}

.mobile-nav {
    display: none;
}

body, html {
    height: 100%;
    margin: 0;
}

.sidebar {
    float: left;
    width: 15%;
    background-color: #87ceeb; /* Azul claro */
    padding: 15px;
    box-sizing: border-box;
    height: 82%;
}

.sidebar h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4682b4; /* Azul medio */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #2e5a8e; /* Cambio de color al pasar el ratón */
}

.main-content {
    float: left;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #87ceeb; /* Borde azul claro */
    padding: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%); /* Configura la imagen en blanco y negro inicialmente */
    transition: filter 0.5s ease;
}

.product:hover img,
.product:focus img {
    filter: grayscale(0%); /* Cambia la imagen a color al pasar el cursor */
}

footer {
    clear: both;
    background-color: #4682b4; /* Azul medio */
    color: #fff;
    text-align: center;
    padding: 8px;
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Alinear la información de contacto en columna */
}

.contact-info p {
    margin: 5px 0; /* Espaciado entre los elementos de contacto */
}

.social-icons {
    display: flex;
}

.social-icons i {
    margin: 0 20px; /* Espaciado entre los íconos de redes sociales */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        float: none;
        box-sizing: border-box;
    }

    .mobile-toggle-container {
        display: block; /* Muestra el contenedor en la versión móvil */
    }

    .main-content {
        width: 100%;
        float: none;
        box-sizing: border-box;
    }

    .mobile-toggle {
        display: flex;
    }

}